.header__lang-link {
    text-decoration: none;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    transition: text-decoration .3s linear;
}
.header__lang-link:hover {
    text-decoration: underline;
}