.footer {
    min-width: 1184px;
    margin: 0;
    padding: 0 48px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .footer {
        min-width: 928px;
    }
}